body {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




nav {
    background-color: salmon;
    border-radius: 5px;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

li {
    list-style: none;
    padding: 10px;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
}


a:hover {
   /* background-color: lightpink;
    padding: 11px;
    border-radius: 5px; */
    cursor: pointer;  
}

a:link {
    /* color: white; */
    font-weight: 600;
}



.dropdown-menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    border: 2px solid black;
    position: absolute;
}