body {
    background: white;
  }
    p {
    color: black;
    }
    h1 {
    font-weight: bold;
    }
    img{float: right;
    height: 150px;
    }


  #nav{
    float: left;
    width: 10%;
    height: 625px;
    background-color: rgba(232, 136, 188, 0.339);
    margin-left: -5px;
    padding-left: 1px;

  }

